WebContent/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.fly5.sjsu.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.fly5.sjsu.edu" xmlns:intf="http://services.fly5.sjsu.edu" xmlns:tns1="http://pojos.fly5.sjsu.edu" xmlns:tns2="http://util.fly5.sjsu.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojos.fly5.sjsu.edu"/>
   <import namespace="http://util.fly5.sjsu.edu"/>
   <element name="addEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeResponse">
    <complexType>
     <sequence>
      <element name="addEmployeeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:Fly5Exception"/>
   <element name="updateEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewEmployeeInfo">
    <complexType>
     <sequence>
      <element name="employeeID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="viewEmployeeInfoReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="listEmployees">
    <complexType/>
   </element>
   <element name="listEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listEmployeesReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeEmployee">
    <complexType>
     <sequence>
      <element name="employeeID" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeEmployeeResponse">
    <complexType>
     <sequence>
      <element name="removeEmployeeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmployeesBasedOnAttributes">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="attributes" type="tns1:Attribute"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchEmployeesBasedOnAttributesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchEmployeesBasedOnAttributesReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://pojos.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.fly5.sjsu.edu"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personID" type="xsd:long"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Employee">
    <complexContent>
     <extension base="tns1:Person">
      <sequence>
       <element name="crewID" type="xsd:long"/>
       <element name="designation" nillable="true" type="xsd:string"/>
       <element name="employeeID" type="xsd:long"/>
       <element name="hireDate" nillable="true" type="xsd:dateTime"/>
       <element name="workDescription" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Attribute">
    <sequence>
     <element name="attributeName" nillable="true" type="xsd:string"/>
     <element name="attributeValue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojos.fly5.sjsu.edu"/>
   <complexType name="FaultBean">
    <sequence>
     <element name="faultMessage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Fly5Exception">
    <sequence>
     <element name="faultBean" nillable="true" type="tns2:FaultBean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchEmployeesBasedOnAttributesRequest">

      <wsdl:part element="impl:searchEmployeesBasedOnAttributes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeResponse">

      <wsdl:part element="impl:addEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchEmployeesBasedOnAttributesResponse">

      <wsdl:part element="impl:searchEmployeesBasedOnAttributesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewEmployeeInfoRequest">

      <wsdl:part element="impl:viewEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeResponse">

      <wsdl:part element="impl:updateEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeEmployeeRequest">

      <wsdl:part element="impl:removeEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewEmployeeInfoResponse">

      <wsdl:part element="impl:viewEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeRequest">

      <wsdl:part element="impl:addEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listEmployeesResponse">

      <wsdl:part element="impl:listEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="Fly5Exception">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeRequest">

      <wsdl:part element="impl:updateEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeEmployeeResponse">

      <wsdl:part element="impl:removeEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listEmployeesRequest">

      <wsdl:part element="impl:listEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeService">

      <wsdl:operation name="addEmployee">

         <wsdl:input message="impl:addEmployeeRequest" name="addEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmployeeResponse" name="addEmployeeResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdl:input message="impl:updateEmployeeRequest" name="updateEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeResponse" name="updateEmployeeResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="viewEmployeeInfo">

         <wsdl:input message="impl:viewEmployeeInfoRequest" name="viewEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewEmployeeInfoResponse" name="viewEmployeeInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listEmployees">

         <wsdl:input message="impl:listEmployeesRequest" name="listEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listEmployeesResponse" name="listEmployeesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeEmployee">

         <wsdl:input message="impl:removeEmployeeRequest" name="removeEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeEmployeeResponse" name="removeEmployeeResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchEmployeesBasedOnAttributes">

         <wsdl:input message="impl:searchEmployeesBasedOnAttributesRequest" name="searchEmployeesBasedOnAttributesRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchEmployeesBasedOnAttributesResponse" name="searchEmployeesBasedOnAttributesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceSoapBinding" type="impl:EmployeeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="viewEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchEmployeesBasedOnAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchEmployeesBasedOnAttributesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchEmployeesBasedOnAttributesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceService">

      <wsdl:port binding="impl:EmployeeServiceSoapBinding" name="EmployeeService">

         <wsdlsoap:address location="http://localhost:8080/fly5/services/EmployeeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
