WebContent/wsdl/JourneyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.fly5.sjsu.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.fly5.sjsu.edu" xmlns:intf="http://services.fly5.sjsu.edu" xmlns:tns1="http://pojos.fly5.sjsu.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojos.fly5.sjsu.edu"/>
   <element name="bookJourney">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="traveller" type="tns1:Traveller"/>
      <element maxOccurs="unbounded" name="flightInstance" type="tns1:FlightInstance"/>
      <element name="paymentDetails" type="tns1:PaymentDetails"/>
      <element maxOccurs="unbounded" name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="bookJourneyResponse">
    <complexType>
     <sequence>
      <element name="bookJourneyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelJourney">
    <complexType>
     <sequence>
      <element name="bookingId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelJourneyResponse">
    <complexType>
     <sequence>
      <element name="cancelJourneyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllJourneys">
    <complexType/>
   </element>
   <element name="listAllJourneysResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllJourneysReturn" type="tns1:Journey"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns1_Flight">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Flight"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_Traveller">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Traveller"/>
    </sequence>
   </complexType>
   <element name="listAllJourney">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listAllJourneyResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listAllJourneyReturn" type="tns1:Journey"/>
     </sequence>
    </complexType>
   </element>
   <element name="rescheduleJourney">
    <complexType>
     <sequence>
      <element name="bookingId" type="xsd:string"/>
      <element name="journey" type="tns1:Journey"/>
     </sequence>
    </complexType>
   </element>
   <element name="rescheduleJourneyResponse">
    <complexType>
     <sequence>
      <element name="rescheduleJourneyReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateItinerary">
    <complexType>
     <sequence>
      <element name="bookingReferenceNo" type="xsd:long"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateItineraryResponse">
    <complexType>
     <sequence>
      <element name="generateItineraryReturn" type="tns1:Journey"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://pojos.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.fly5.sjsu.edu"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personID" type="xsd:long"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Traveller">
    <complexContent>
     <extension base="tns1:Person">
      <sequence>
       <element name="nationality" nillable="true" type="xsd:string"/>
       <element name="passportNumber" nillable="true" type="xsd:string"/>
       <element name="travellerClass" nillable="true" type="xsd:string"/>
       <element name="travellerID" type="xsd:long"/>
       <element name="travellerType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="FlightInstance">
    <sequence>
     <element name="adultFare" type="xsd:float"/>
     <element name="arrivalDate" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:string"/>
     <element name="availableTickets" type="xsd:int"/>
     <element name="departureDate" nillable="true" type="xsd:string"/>
     <element name="departuteTime" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="distance" type="xsd:float"/>
     <element name="flight_no" nillable="true" type="xsd:string"/>
     <element name="journeyTime" nillable="true" type="xsd:string"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="totalSeats" type="xsd:int"/>
     <element name="travelClass" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PaymentDetails">
    <sequence>
     <element name="creditCardNumber" type="xsd:long"/>
     <element name="cvvNumber" type="xsd:int"/>
     <element name="expiryMonth" type="xsd:int"/>
     <element name="expiryYear" type="xsd:int"/>
     <element name="paymentType" nillable="true" type="xsd:string"/>
     <element name="travellerID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Flight">
    <sequence>
     <element name="airline" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:string"/>
     <element name="baseFare" type="xsd:double"/>
     <element name="crewID" type="xsd:long"/>
     <element name="departureTime" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="distance" type="xsd:long"/>
     <element name="flightID" nillable="true" type="xsd:string"/>
     <element name="flightStatus" nillable="true" type="xsd:string"/>
     <element name="frequency" nillable="true" type="xsd:string"/>
     <element name="journeyTime" nillable="true" type="xsd:string"/>
     <element name="noOfSeats" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Journey">
    <sequence>
     <element name="arrivalDate" nillable="true" type="xsd:string"/>
     <element name="arrivalTime" nillable="true" type="xsd:string"/>
     <element name="bookingReferenceNo" type="xsd:int"/>
     <element name="departureDate" nillable="true" type="xsd:string"/>
     <element name="departureTime" nillable="true" type="xsd:string"/>
     <element name="destination" nillable="true" type="xsd:string"/>
     <element name="listOfFlights" nillable="true" type="impl:ArrayOf_tns1_Flight"/>
     <element name="listOfTraveller" nillable="true" type="impl:ArrayOf_tns1_Traveller"/>
     <element name="noOfTraveller" type="xsd:int"/>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="totalPrice" type="xsd:double"/>
     <element name="typeOfClass" nillable="true" type="xsd:string"/>
     <element name="typeOfTrip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateItineraryResponse">

      <wsdl:part element="impl:generateItineraryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllJourneysResponse">

      <wsdl:part element="impl:listAllJourneysResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelJourneyResponse">

      <wsdl:part element="impl:cancelJourneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllJourneysRequest">

      <wsdl:part element="impl:listAllJourneys" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookJourneyRequest">

      <wsdl:part element="impl:bookJourney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllJourneyRequest">

      <wsdl:part element="impl:listAllJourney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bookJourneyResponse">

      <wsdl:part element="impl:bookJourneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rescheduleJourneyResponse">

      <wsdl:part element="impl:rescheduleJourneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rescheduleJourneyRequest">

      <wsdl:part element="impl:rescheduleJourney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listAllJourneyResponse">

      <wsdl:part element="impl:listAllJourneyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelJourneyRequest">

      <wsdl:part element="impl:cancelJourney" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateItineraryRequest">

      <wsdl:part element="impl:generateItinerary" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="JourneyService">

      <wsdl:operation name="bookJourney">

         <wsdl:input message="impl:bookJourneyRequest" name="bookJourneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:bookJourneyResponse" name="bookJourneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelJourney">

         <wsdl:input message="impl:cancelJourneyRequest" name="cancelJourneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelJourneyResponse" name="cancelJourneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllJourneys">

         <wsdl:input message="impl:listAllJourneysRequest" name="listAllJourneysRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllJourneysResponse" name="listAllJourneysResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllJourney">

         <wsdl:input message="impl:listAllJourneyRequest" name="listAllJourneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:listAllJourneyResponse" name="listAllJourneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rescheduleJourney">

         <wsdl:input message="impl:rescheduleJourneyRequest" name="rescheduleJourneyRequest">

       </wsdl:input>

         <wsdl:output message="impl:rescheduleJourneyResponse" name="rescheduleJourneyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateItinerary">

         <wsdl:input message="impl:generateItineraryRequest" name="generateItineraryRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateItineraryResponse" name="generateItineraryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JourneyServiceSoapBinding" type="impl:JourneyService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="bookJourney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bookJourneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bookJourneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelJourney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelJourneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelJourneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllJourneys">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllJourneysRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllJourneysResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listAllJourney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listAllJourneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listAllJourneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rescheduleJourney">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rescheduleJourneyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rescheduleJourneyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateItinerary">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateItineraryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateItineraryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JourneyServiceService">

      <wsdl:port binding="impl:JourneyServiceSoapBinding" name="JourneyService">

         <wsdlsoap:address location="http://localhost:8080/fly5/services/JourneyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
