WebContent/wsdl/TravellerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.fly5.sjsu.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.fly5.sjsu.edu" xmlns:intf="http://services.fly5.sjsu.edu" xmlns:tns1="http://pojos.fly5.sjsu.edu" xmlns:tns2="http://util.fly5.sjsu.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojos.fly5.sjsu.edu"/>
   <import namespace="http://util.fly5.sjsu.edu"/>
   <element name="addTraveller">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
      <element name="traveller" type="tns1:Traveller"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTravellerResponse">
    <complexType>
     <sequence>
      <element name="addTravellerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:Fly5Exception"/>
   <element name="updateTraveller">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
      <element name="traveller" type="tns1:Traveller"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTravellerResponse">
    <complexType>
     <sequence>
      <element name="updateTravellerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTraveller">
    <complexType>
     <sequence>
      <element name="travellerId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeTravellerResponse">
    <complexType>
     <sequence>
      <element name="removeTravellerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewTravellerInfo">
    <complexType>
     <sequence>
      <element name="travellerId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewTravellerInfoResponse">
    <complexType>
     <sequence>
      <element name="viewTravellerInfoReturn" type="tns1:Traveller"/>
     </sequence>
    </complexType>
   </element>
   <element name="listTravellers">
    <complexType/>
   </element>
   <element name="listTravellersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listTravellersReturn" type="tns1:Traveller"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateTraveller">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateTravellerResponse">
    <complexType>
     <sequence>
      <element name="authenticateTravellerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://pojos.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.fly5.sjsu.edu"/>
   <complexType name="Person">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="dateOfBirth" nillable="true" type="xsd:dateTime"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="personID" type="xsd:long"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="Traveller">
    <complexContent>
     <extension base="tns1:Person">
      <sequence>
       <element name="nationality" nillable="true" type="xsd:string"/>
       <element name="passportNumber" nillable="true" type="xsd:string"/>
       <element name="travellerClass" nillable="true" type="xsd:string"/>
       <element name="travellerID" type="xsd:long"/>
       <element name="travellerType" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://util.fly5.sjsu.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojos.fly5.sjsu.edu"/>
   <complexType name="FaultBean">
    <sequence>
     <element name="faultMessage" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Fly5Exception">
    <sequence>
     <element name="faultBean" nillable="true" type="tns2:FaultBean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="viewTravellerInfoRequest">

      <wsdl:part element="impl:viewTravellerInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTravellerRequest">

      <wsdl:part element="impl:addTraveller" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listTravellersResponse">

      <wsdl:part element="impl:listTravellersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateTravellerResponse">

      <wsdl:part element="impl:authenticateTravellerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listTravellersRequest">

      <wsdl:part element="impl:listTravellers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="viewTravellerInfoResponse">

      <wsdl:part element="impl:viewTravellerInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTravellerResponse">

      <wsdl:part element="impl:addTravellerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTravellerResponse">

      <wsdl:part element="impl:updateTravellerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTravellerResponse">

      <wsdl:part element="impl:removeTravellerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateTravellerRequest">

      <wsdl:part element="impl:authenticateTraveller" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTravellerRequest">

      <wsdl:part element="impl:updateTraveller" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeTravellerRequest">

      <wsdl:part element="impl:removeTraveller" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="Fly5Exception">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TravellerService">

      <wsdl:operation name="addTraveller">

         <wsdl:input message="impl:addTravellerRequest" name="addTravellerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addTravellerResponse" name="addTravellerResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateTraveller">

         <wsdl:input message="impl:updateTravellerRequest" name="updateTravellerRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTravellerResponse" name="updateTravellerResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTraveller">

         <wsdl:input message="impl:removeTravellerRequest" name="removeTravellerRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeTravellerResponse" name="removeTravellerResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="viewTravellerInfo">

         <wsdl:input message="impl:viewTravellerInfoRequest" name="viewTravellerInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:viewTravellerInfoResponse" name="viewTravellerInfoResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listTravellers">

         <wsdl:input message="impl:listTravellersRequest" name="listTravellersRequest">

       </wsdl:input>

         <wsdl:output message="impl:listTravellersResponse" name="listTravellersResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="authenticateTraveller">

         <wsdl:input message="impl:authenticateTravellerRequest" name="authenticateTravellerRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateTravellerResponse" name="authenticateTravellerResponse">

       </wsdl:output>

         <wsdl:fault message="impl:Fly5Exception" name="Fly5Exception">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TravellerServiceSoapBinding" type="impl:TravellerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addTraveller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTravellerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTravellerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateTraveller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTravellerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTravellerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTraveller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTravellerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeTravellerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="viewTravellerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewTravellerInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewTravellerInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="listTravellers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listTravellersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listTravellersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="authenticateTraveller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateTravellerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateTravellerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Fly5Exception">

            <wsdlsoap:fault name="Fly5Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TravellerServiceService">

      <wsdl:port binding="impl:TravellerServiceSoapBinding" name="TravellerService">

         <wsdlsoap:address location="http://localhost:8080/fly5/services/TravellerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
